.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.header .logo {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 1rem;
}

.header a {
  display: block;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(1, 0, 0, 1);
}

.header a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.header .cart {
  align-self: center;
}

.header .cart-details {
  margin: 0;
  font-size: 1.3rem;
  color: #212529;
}

.header .cart-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 2.2rem;
  color: cadetblue;
}

@media(max-width: 440px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header .logo {
    padding: 0.5rem;
  }
}